{% extends "registration/base.html" %}
{% load static %}

{% block content%}
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-4 mx-auto" style="text-align: right;">
              <div class="card-body px-5 py-5">
                <h3 class="card-title mb-3">انشاء حساب</h3>
                <form method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    {{form.userName.label}}
                    {{form.userName}}
                  </div>
                  <div class="form-group">
                      {{form.first_name.label}}
                      {{form.first_name}}
                  </div>
                  <div class="form-group">
                    {{form.password.label}}
                    {{form.password}}
                  </div>
                  <div class="form-group">
                    {{form.repeatPassword.label}}
                    {{form.repeatPassword}}
                  </div>
                  <div class="form-group">
                    {{form.is_admin.label}}
                    {{form.is_admin}}
                  </div>


                  <div class="text-center">
                    <button type="submit"  class="btn btn-primary btn-block enter-btn">انشاء حساب</button>
                  </div>

                </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
</div>

    <script src="{% static 'registration/assets/js/file-upload.js' %}"></script>
{% endblock %}